{% extends 'base.html' %}
{% block css %}{% endblock %}
{% block content %}
<div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
            <h1 class="display-4 fw-bold lh-1 text-body-emphasis">
                Welcome to Deepface Detector
            </h1>
            <p class="lead">
                A simple web application that detects faces in images using deep learning. It is built with Flask and
                Deepface. It is a simple web application that detects faces in images using deep learning. It is built
                with Flask and Deepface.
            </p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
                <a type="button" href="/upload" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold">Upload Image</a>
                <a type="button" href="/view" class="btn btn-outline-secondary btn-lg px-4">View Uploads</a>
            </div>
        </div>
        <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
            <img class="rounded-lg-3" src="https://cdn.mos.cms.futurecdn.net/vCiYBhEfxECz9ZEWX6YuQc-1024-80.jpg" alt=""
                width="720">
        </div>
    </div>
</div>
{% endblock %}
{% block js %}{% endblock %}