<!-- flash messages are alert -->
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="container-fluid mx-auto mt-2">
    <div class="alert alert-{{ category }} alert-dismissible fade show text-center" role="alert">
        <div class="fs-4">{{ message }}</div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>
{% endfor %}
{% endif %}
{% endwith %}    